{% extends 'layout.html.twig' %}

{% block body %}
    <section id="programmation">
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succès: </strong>{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% if scripts|length == 0 %}
            <h5>Il n'y a actuellement aucun script de programmé.</h5>
            <a href="{{ path('programmation_new') }}"><button class="btn btn-blue" type="button">Ajouter un nouveau script</button></a>
        {% else %}
            <div class="row">
                <div class="col">
                    <h5>Il y a actuellement {{ scripts|length }} script{{ scripts|length > 1 ? 's' : '' }} de programmé{{ scripts|length > 1 ? 's' : '' }}.</h5>
                </div>
                <div class="col">
                    <a href="{{ path('programmation_new') }}"><button class="btn btn-secondary" type="button">Ajouter un nouveau script</button></a>
                </div>
            </div>
            <div class="row">
                {% for script in scripts %}
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ script.type }}</h5>
                                <p class="card-text">
                                <ul>
                                    <li>
                                        Programmé le(s): {% for key, day in script.days %}{{ day ~ (key < script.days|length -2 ? ', ' : key < script.days|length -1 ? ' et ' : '') }}{% endfor %}
                                    </li>
                                    <li>
                                        Fréquence: {{ script.frequency == 1 ? 'Hebdomadaire' : script.frequency == 2 ? 'Mensuelle' : 'Annuelle' }}
                                    </li>
                                </ul>
                                </p>
                                <a href="{{ path('programmation_new', {'id': script.id}) }}" class="card-link"><button class="btn btn-white-and-blue">Modifier</button></a>
                                <small class="form-text text-light">Attention, un seul script par scanner est autorisé.</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}