{% extends 'layout.html.twig' %}

{% block body %}
    <section id="programmation">
        {% for message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erreur: </strong>{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <form id="programmation-new-form" method="POST">
            {% if script|length == 0 %}
                <div class="form-group">
                    <label for="type">Pour quel scanner souhaitez-vous ajouter un script?</label>
                    <select name="type" required class="form-control">
                        <option value="Scanner Nessus">Programmation scanner Nessus</option>
                        <option value="Scanner Nmap">Programmation scanner NMAP</option>
                        <option value="Scanner Test">Programmation scanner Test</option>
                        <option value="Scanner Test2">Programmation scanner Test2</option>
                    </select>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="type">Pour quel scanner souhaitez-vous ajouter un script?</label>
                    <select name="type" required class="form-control">
                        {% if script.type == "Scanner Nessus" %}
                            <option value="Scanner Nessus">Programmation scanner Nessus</option>
                        {% elseif script.type == "Scanner Nmap" %}
                            <option value="Scanner Nmap">Programmation scanner NMAP</option>
                        {% elseif script.type == "Scanner Test" %}
                            <option value="Scanner Test">Programmation scanner Test</option>
                        {% elseif script.type == "Scanner Test2" %}
                            <option value="Scanner Test">Programmation scanner Test2</option>
                        {% endif %}
                    </select>
                </div>
            {% endif %}
            <div class="form-group">
                <div class="row">
                    <label>Pour quel(s) jour(s) de la semaine souhaitez-vous paramétrer ce script?</label>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="checkbox" name="weekday[Lundi]" class="form-check-input" id="monday">
                        <label class="form-check-label" for="monday">Lundi</label>
                    </div>
                    <div class="col">
                        <input type="checkbox" name="weekday[Mardi]" class="form-check-input" id="tuesday">
                        <label class="form-check-label" for="tuesday">Mardi</label>
                    </div>
                    <div class="col">
                        <input type="checkbox" name="weekday[Mercredi]" class="form-check-input" id="wednesday">
                        <label class="form-check-label" for="wednesday">Mercredi</label>
                    </div>
                    <div class="col">
                        <input type="checkbox" name="weekday[Jeudi]" class="form-check-input" id="thursday">
                        <label class="form-check-label" for="thursday">Jeudi</label>
                    </div>
                    <div class="col">
                        <input type="checkbox" name="weekday[Vendredi]" class="form-check-input" id="friday">
                        <label class="form-check-label" for="friday">Vendredi</label>
                    </div>
                    <div class="col">
                        <input type="checkbox" name="weekday[Samedi]" class="form-check-input" id="saturday">
                        <label class="form-check-label" for="saturday">Samedi</label>
                    </div>
                    <div class="col">
                        <input type="checkbox" name="weekday[Dimanche]" class="form-check-input" id="sunday">
                        <label class="form-check-label" for="sunday">Dimanche</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label>Voulez-vous que ce script soit:</label>
                </div>
                <div class="row">
                    <div class="col">
                        <input value="1" type="radio" name="frequency" class="form-check-input" id="hebdo">
                        <label class="form-check-label" for="hebdo">Hebdomadaire</label>
                    </div>
                    <div class="col">
                        <input value="2" type="radio" name="frequency" class="form-check-input" id="monthly">
                        <label class="form-check-label" for="monthly">Mensuel</label>
                    </div>
                    <div class="col">
                        <input value="3" type="radio" name="frequency" class="form-check-input" id="annualy">
                        <label class="form-check-label" for="annualy">Annuel</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-blue">Ajouter</button>
        </form>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $('.alert').alert();
    </script>
{% endblock %}