{% extends 'layout.html.twig' %}

{% block body %}
    <div class="modal" tabindex="-1" role="dialog" id="progressBarModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Scan en cours...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <div id="progressBar">
                            <div id="bar">1%</div>
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" id="new-scan">
        <div class="col-sm-11 p-4" id="container">
            <div class="row mb-5">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-info choice-btn" id="ip">IP</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-warning choice-btn" id="ipRange">PLAGE D'IP</button>
                </div>
            </div>
            <form id="ipContent" style="display: none">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="startIp">IP à scanner</label>
                        <input name="startIp" type="text" class="form-control form-control-lg" id="startIp"
                               placeholder="127.0.0.1">
                        <small id="ipError" class="form-text text-muted input-error">Vous devez d'abord remplir ce champ.</small>
                    </div>
                    <button type="button" class="btn submit-btn ml-3 validate-ip mt-3 step-1-btn" id="step-1-btn">Valider</button>

                </div>
            </form>
            <form id="ipRangeContent" style="display: none">
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-12 row m-0 p-0">
                        <div class="col-sm-6">
                            <label for="startIp">IP de début</label>
                            <input name="startIp" type="text" class="form-control form-control-lg" id="startIp"
                                   placeholder="127.0.0.1">
                        </div>
                        <div class="col-sm-6">
                            <label for="endIp">IP de fin</label>
                            <input name="endIp" type="text" class="form-control form-control-lg" id="endIp"
                                   placeholder="127.0.0.1">
                        </div>
                    </div>
                    <small id="ipRangeError" class="ml-3 form-text text-muted input-error">Vous devez d'abord remplir ces champs.</small>
                </div>
                <button type="button" class="btn submit-btn ml-3 validate-ip step-1-btn mt-3" id="step-1-btn">Valider</button>
            </form>
            <form id="scanner" class="mt-4" style="display: none">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="startIp">Choix du scanner</label>
                        <select class="form-control">
                            <option>Nessus</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn submit-btn ml-3" id="step-3-btn">Valider</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function move() {
            const elem = document.getElementById("bar");
            const container = document.getElementById("progressBar");
            console.log(elem)
            let width = 1;
            const id = setInterval(frame, 100);

            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                    container.innerHTML = 'Scan terminé ! Rendez-vous dans l\'onglet "Bilan" pour en avoir le résultat.';
                } else {
                    width++;
                    elem.style.width = width + '%';
                    elem.innerHTML = width * 1 + '%';
                }
            }
        }
        $('#step-3-btn').on('click', () => {
            $('#progressBarModal').modal('show');
            move();
        })
    </script>
{% endblock %}