{% extends 'layout.html.twig' %}

{% block body %}
    <div id="reactDiv" data-test="babar">
        {# Adding a loader while React is initializing and rendering the component #}
        <img class="loader" src="{{ asset('img/loader.gif') }}" alt="loader">
    </div>
{% endblock %}