@import 'homepage';
@import 'sidebar';
@import 'dashboard';
@import 'header';
@import "chart";
@import "newScan";
@import "programmation";


.loader {
/*  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);*/
  width: 100px;
}

.row {
  margin-right: 0!important;
  margin-left: 0!important;
}