@import "colors";

#dashboard {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 111vh;
  height: 100%;
  background-color: $light-grey;

  .top-graphs {
    .graph {
      text-align: center;
    }
  }
  #dashboard-logs-view {
    display: none;
  }
}