@import 'colors';

#navbar {
  height: 60px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-right: 15px;
  padding-left: 15px;

  #navbar-left {
    align-items: center;
    display: flex;
    flex-direction: row;

    .title {
      margin-left: 20px;
      margin-top: 5px;
      color: $blue;
    }
  }

  #navbar-link-container {
    margin-right: -15px!important;

    .navbar-link {
      background-color: $blue;
      display: block;
      height: 60px;
      padding: 18px 30px 15px;
      color: white;

      &.active {
        background-color: $dark-blue;
      }
    }
  }

  #menu-icon:hover {
    cursor: pointer;
  }
}