@import "colors";

#new-scan {
  background-color: $light-grey;
  min-height: 111vh;
  padding-top: 30px;
  padding-bottom: 30px;

  #container {
    border: 1px solid lightgrey;
    height: 100%;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    .choice-btn {
      width: 100%;
      color: #fff;
    }

    .submit-btn {
      background-color: $blue;
      color: #fff;
    }

    input, select {
      color: $dark-blue
    }

    .input-error {
      color: red!important;
      display: none;
    }
  }
}
#progressBar {

  #bar {
    width: 1%;
    height: 30px;
    background-color: $dark-blue;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
  }
}