@import "colors";

#programmation {
  padding: 20px;

  .btn-blue {
    background-color: $blue;
    color: #fff;
  }

  .btn-white-and-blue {
    background-color: $light-grey;
    color: $blue;
  }

  .script {
    border: 1px solid lightgrey;
  }

  .card {
    background-color: $blue;
    color: $light-grey;
    margin-top: 20px;
    height: 250px;
    overflow-y: scroll;

    &:hover {
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2)
    }
  }
}