@import 'colors';

#sidebar {
  background-color: $blue;
  height: 100%;
  min-height: 140vh;
  color: white;
  margin-bottom: -15px;
  margin-left: -15px;

  #sidebar-collapsed {
    text-align: center;

    #logo-container-collapsed {
      padding: 20px 15px;

      #logo-collapsed {
        width: 100%;
      }
    }

    hr {
      margin: 0;
    }

    a {
      color: white;
      display: block;
      padding: 1rem 15px;

      .link {
        text-align: right;
        margin-top: 2px;
      }

      img {
        width: 25px;
      }

      &.active {
        background-color: rgb(92, 148, 183);
      }
    }
  }

  #sidebar-expended {
    display: none;
    #logo-container {
      padding: 20px 15px;

      #logo {
        width: 100%;
      }
    }

    hr {
      margin: 0;
    }

    a {
      color: white;
      display: block;
      padding: 1rem 15px;

      .link {
        text-align: right;
        margin-top: 2px;
      }

      img {
        width: 25px;
      }

      &.active {
        background-color: rgb(92, 148, 183);
      }
    }
  }
}