<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AUDISEC{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('img/logo.png') }}" />

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
    </head>
    <body>
        <div class="row">
            <div id="page-left-part" class="pr-0 col-sm-1 expended">
                <section id="sidebar">
                    {% include 'layout/sidebar.html.twig' %}
                </section>
            </div>
            <div id="page-right-part" class="px-0 col-sm-11">
                {% include 'layout/header.html.twig' %}
                {% block body %}{% endblock %}
            </div>
        </div>

        {{ encore_entry_script_tags('app') }}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" type="application/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
        <script src="{{ asset('react/bundle.js') }}" type="application/javascript"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
