{% extends 'layout.html.twig' %}

{% block body %}
    <section id="dashboard">
        <div id="dashboard-logs-view">
            <div class="row top-graphs">
                {% if logs is defined and logs|length > 0 %}
                    <table id="logs" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Contenu du log</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                            <tr>
                                <td>{{ log.type }}</td>
                                <td>{{ log.content }}</td>
                                <td>{{ log.date|date('\\L\\e d/m/Y \\à H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
        <div id="dashboard-scans-view">
            <div class="row top-graphs">
                <div class="graph col-sm-12 col-md-4">
                    <div id="reactDoughnutChart" data-label="Criticité des vulns" data-subject="vuln-level"></div>
                </div>
                <div class="graph col-sm-12 col-md-4">
                    <div id="reactPieChart" data-label="Durée de vie moyenne d'une vuln"
                         data-subject="vuln-duration"></div>
                </div>
                <div class="graph col-sm-12 col-md-4">
                    <div id="reactScatterChart" data-label="Résumé des vulns / jour" data-subject="vuln-summary"></div>
                </div>
            </div>
            <div class="row top-graphs mb-4">
                <div class="graph col-sm-12 col-md-4 offset-md-2">
                    <div id="reactSpeedometer5" data-label="Indicateur de niveau de conformité global" data-value="3.75"></div>
                </div>
                <div class="graph col-sm-12 col-md-4">
                    <div id="reactBar" data-label="Evolution du niveau de conformité"></div>
                </div>
            </div>
            <div class="modal fade" id="speedometersModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: none;">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row top-graphs">
                                <div class="graph col-sm-12 col-md-3">
                                    <div id="reactSpeedometer1" data-label="Note Pilotage Sévérité" data-value="2"></div>
                                </div>
                                <div class="graph col-sm-12 col-md-3">
                                    <div id="reactSpeedometer2" data-label="Note Pilotage Urgence" data-value="4"></div>
                                </div>
                                <div class="graph col-sm-12 col-md-3">
                                    <div id="reactSpeedometer3" data-label="Note Pilotage Crédibilité" data-value="5"></div>
                                </div>
                                <div class="graph col-sm-12 col-md-3">
                                    <div id="reactSpeedometer4" data-label="Note Pilotage Complexité" data-value="4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $('#logs').DataTable();
        $('#reactSpeedometer5').on('click', () => {
            $('#speedometersModal').modal('show')
        })
        $('#reactSpeedometer5').on('mouseleave', () => {
            $('#speedometersModal').modal('hide')
        })
    </script>
{% endblock %}