<section id="navbar"{# style="background-color: red"#}>
    <div id="navbar-left">
        <img src="{{ asset('img/menu.png') }}" width="36" alt="menu icon" id="menu-icon">
        <h1 class="title">
            {% set route =  app.request.get('_route') %}
            {% if route == 'dashboard' %}
                Dashboard
            {% elseif route == 'bilan' %}
                Bilan
            {% elseif route == 'programmation' %}
                Programmation
            {% elseif route == 'new_scan' %}
                Nouveau Scan
            {% endif %}
        </h1>
    </div>
    {% if route == 'dashboard' %}
        <div>
            <div class="row" id="navbar-link-container">
                <div id="logs-link" class="p-0 col-sm-6"><a class="navbar-link" href="#">LOGS</a></div>
                <div id="scans-link" class="p-0 col-sm-6"><a class="navbar-link active" href="#">SCANS</a></div>
            </div>
        </div>
    {% endif %}
</section>