<div id="sidebar-expended">
    <div id="logo-container">
        <img src="{{ asset('img/logo.png') }}" id="logo" alt="">
    </div>
    <hr>
    <a href="{{ path('dashboard') }}" class="sidebar-link {{ app.request.get('_route') == 'dashboard' ? 'active' }}">
        <div class="row">
            <div class="col-sm-12 col-md-2">
                <img src="{{ asset('img/dashboard.png') }}" alt="">
            </div>
            <div class="link col-md-10 text-right">
                Dashboard
            </div>
        </div>
    </a>
    <hr>
    <a href="{{ path('bilan') }}" class="sidebar-link {{ app.request.get('_route') == 'bilan' ? 'active' }} btn disabled">
        <div class="row">
            <div class="col-sm-12 col-md-2">
                <img src="{{ asset('img/stats.png') }}" alt="">
            </div>
            <div class="link col-md-10 text-right">
                Bilan
            </div>
        </div>
    </a>
    <hr>
    <a href="{{ path('programmation') }}" class="sidebar-link {{ app.request.get('_route') == 'programmation' ? 'active' }}">
        <div class="row">
            <div class="col-sm-12 col-md-2">
                <img src="{{ asset('img/wheel.png') }}" alt="">
            </div>
            <div class="link col-md-10 text-right">
                Programmation
            </div>
        </div>
    </a>
    <hr>
    <a href="{{ path('new_scan') }}" class="sidebar-link {{ app.request.get('_route') == 'new_scan' ? 'active' }}">
        <div class="row">
            <div class="col-sm-12 col-md-2">
                <img src="{{ asset('img/search.png') }}" alt="">
            </div>
            <div class="link col-md-10 text-right">
                Nouveau scan
            </div>
        </div>
    </a>
    <hr>
</div>
<div id="sidebar-collapsed">
    <div id="logo-container-collapsed">
        <img src="{{ asset('img/logo.png') }}" id="logo-collapsed" alt="">
    </div>
    <hr>
    <a href="{{ path('dashboard') }}" class="sidebar-link {{ app.request.get('_route') == 'dashboard' ? 'active' }}">
        <div class="row">
            <div class="col-sm-12" title="Dashboard">
                <img src="{{ asset('img/dashboard.png') }}" alt="">
            </div>
        </div>
    </a>
    <hr>
    <a href="{{ path('bilan') }}" class="sidebar-link {{ app.request.get('_route') == 'bilan' ? 'active' }} btn disabled">
        <div class="row">
            <div class="col-sm-12" title="Bilan">
                <img src="{{ asset('img/stats.png') }}" alt="">
            </div>
        </div>
    </a>
    <hr>
    <a href="{{ path('programmation') }}" class="sidebar-link {{ app.request.get('_route') == 'programmation' ? 'active' }}">
        <div class="row">
            <div class="col-sm-12" title="Programmation">
                <img src="{{ asset('img/wheel.png') }}" alt="">
            </div>
        </div>
    </a>
    <hr>
    <a href="{{ path('new_scan') }}" class="sidebar-link {{ app.request.get('_route') == 'new_scan' ? 'active' }}">
        <div class="row">
            <div class="col-sm-12" title="Nouveau Scan">
                <img src="{{ asset('img/search.png') }}" alt="">
            </div>
        </div>
    </a>
    <hr>
</div>